:root {
    --main-color: #003366;
    --background-color: #f0f2f5;
    --padding: 8px 20px;
}

header {
    background: var(--main-color);
    color: #fff;
    padding: var(--padding);
}

footer {
    margin-top: 40px;
    padding: var(--padding);
    background: var(--main-color);
    color: white;
    text-align: center;
    font-size: 14px;
    border-top: 2px solid #359cb6;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* background: #f4f4f4; */
  background: var(--background-color);
}

h1 {
  color: var(--background-color);
}