h2 {
  margin: 18px auto 14px auto;
  text-align: center;
  font-size: 26px;
  background-color: #413fb3;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: fit-content;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 28px;
  padding-left: 10px;
}

.tab {
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  background: #eee;
  margin-right: 4px;
  border-radius: 4px 4px 0 0;
  transition: all 0.2s ease;
}

.tab:not(.active):hover {
  background: #cfe3ff;
  transform: translateY(-2px);
}

.tab.active {
  background: #676caf;
  border: none;
  /* remove borda padrão */
  border-bottom: 2px solid #003366;
  /* mantém só a linha inferior */
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  /* mantêm cantos arredondados só em cima */
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

ul,
ol {
  margin-bottom: 8px;
  line-height: 1.45;
}

b {
  font-weight: bold;
  /* Já é bold por <b>, mas reforça */
  color: #3611da;
  /* Pode deixar mais escuro para contraste */
}

.note {
  font-style: italic;
  font-size: 0.85em;
  color: #3a25ac;
  margin-left: 12px;
  margin-top: 2px;
}

#board-view {
  text-align: center;
  margin-bottom: 20px;
}

#board-img {
  max-width: 100%;
  max-width: 700px;

  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.board-container {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  margin-top: 28px;
  margin-bottom: 36px;
}

.board-description {
  max-width: 800px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

.board-description p {
  margin: 12px 0;
}

.board-description h3 {
  margin-top: 0;
  color: #2c3e50;
}

